<tr>
    <td>{{this.dataValues.id}}</td>
    {{#if this.dataValues.rented}}
    <td class="blue lighten-5">Rented</td>
    {{else}}
    <td><button class="btn orange">Message</button></td>
    {{/if}}
</tr>