{{> header-block}}
<div class=" container">
    <div class="card row">
        <h3 class="center-align">All Games</h3>

        <div class="col m10">
            {{#each games}}

            <div class="col s5 m3">
                <div class="card small blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{gameUnit}}</span>

                        <p>{{id}}</p>
                        <p>{{gameTitle}}</p>                  

                    </div>
                    <div class="card-action">
                        <a href="#">Return</a>
                        <a href="#">Borrow</a>
                        <a href="#">Delete</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>