<nav>
    <p>The Game Board</p>
    <ul>
        <li>View Games</li>
        <li>Add a Game</li>
    </ul>
    <main>
        <div>Main Image Goes Here</div>
        <form>
            <label></label>
            <text></text>
            <button>Search</button>
        </form>
    </main>
</nav>