{{> header-block}}
<main>
    <div>Main Image Goes Here</div>
    <form class="search-games">
        <label for="search-term">Search for a Game:</label>
        <input type="text" id="search-term" placeholder="Board Game Title"></text>
        <button type="submit">Search</button>
    </form>
</main>