<div class="row">
  <div class="col l3"></div>
  <div class="col l6 s12">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Enter game title" id="gameTitle" type="text" class="validate">
            <label for="gameTitle">Game Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label>Select Game Owner</label>
            <select>
              <option value="???" selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>

          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Enter minimum players" id="minPlayers" type="text" class="validate">
            <label for="minPlayers">Minimum Players</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Enter maximum players" id="maxPlayers" type="text" class="validate">
            <label for="maxPlayers">Maximum Players</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Enter minimum playtime" id="minPlayTime" type="text" class="validate">
            <label for="minPlayTime">Minimum Playtime</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Enter maximum playtime" id="maxPlayTime" type="text" class="validate">
            <label for="maxPlayTime">Maximum Playtime</label>
          </div>
        </div>
    </div>
    </form>
  </div>
  <div class="col l3"></div>
</div>

</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>