{{> header-block}}
<main>
    <div class="container">
        <div class="section">
            <form class="search-games">
                <div class="card">
                    <div class="card-content">
                        <input type="text" id="search-term" placeholder="Board Game Title">
                    </div>
                    <div class="card-action">
                        <button class="btn waves-effect waves-light orange" type="submit" id="search-submit">Search
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="section" id="results-contain">
            {{!-- Row of 3 --}}
                {{!-- Individual Cards --}}
            {{!-- Row of 3 End --}}
        </div>
    </div>
</main>
<script src="assets/js/search.js" type="text/javascript"></script>