{{> header-block}}
<div class="valign-wrapper row login-box">
  <div class="col card hoverable pull-s1 l4 pull-l4">
    <form class="sign-up">
      <div class="card-content">
        <span class="card-title">Sign Up</span>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="User name" id="user-name" type="text" class="validate">
            <label for="user_name">User Name</label>
          </div>
          <form>
            <div class="card-content">
              <span class="card-title">Sign Up</span>
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="User name" id="user_name" type="text" class="validate">
                  <label for="first_name">First Name</label>
                </div>

              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate">
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="center-align">
                <button class="waves-effect waves-light btn orange">Sign up</button>
              </div>
            </div>
          </form>
        </div>
      </div>