/* Classes that set background color */
.bkg-lt-blue { background-color: #8ECAE6; }
.bkg-blue { background-color: #219EBC; }
.bkg-dk-blue { background-color: #023047; }
.bkg-ylw { background-color: #FFB703; }
.bkg-org { background-color: #FB8500; }